<div class="panel hots">
    <h3>热门推荐</h3>
    <ul>
        <li>
            <a href="javascript:;">
                <img src="uploads/hots_2.jpg" alt="">
                <span>星球大战:原力觉醒视频演示 电影票68</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="uploads/hots_3.jpg" alt="">
                <span>你敢骑吗？全球第一辆全功能3D打印摩托车亮相</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="uploads/hots_4.jpg" alt="">
                <span>又现酒窝夹笔盖新技能 城里人是不让人活了！</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="uploads/hots_5.jpg" alt="">
                <span>实在太邪恶！照亮妹纸绝对领域与私处</span>
            </a>
        </li>
    </ul>
</div>