.login-form {
  input {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
  }
}

.error-msg {
  color: red;
}

.login-btn {
  display: block;
  width: 100%;
  background-color: #1cb676;
  color: #fff;
  padding: 10px 0;
}