@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


.top {
    width: 100%;
    height: (88rem/ 75);
    background-image: url(../img/titlebar.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: (36rem/ 75);
    letter-spacing: (2rem/ 75);
    text-align: center;
    line-height: (88rem/ 75);
}

.main-top {
    width: (680rem/ 75);
    height: (244rem/ 75);
    background-image: url(../img/mine-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: (21rem/ 75) auto (27rem/ 75);
    border: 1px solid #909090;
    border-radius: 5px;
    padding-left: (40rem/ 75);
    padding-right: (22rem/ 75);
    box-sizing: border-box;
    padding-top: (35rem/ 75);
    @include clearfix();
    img {
        float: left;
        width: (124rem/ 75);
        height: (124rem/ 75);
    }
}

.main-top-middle {
    float: left;
    width: (270rem/ 75);
    padding-top: (9rem/ 75);
    padding-left: (30rem/ 75);
    h5 {
        font-size: (29rem/ 75);
        color: #f3f3f3;
        margin-bottom: (20rem/ 75);
    }
    p {
        font-size: (24rem/ 75);
        color: #f3f3f3;
        margin-bottom: (20rem/ 75);
    }
}

.main-top-right {
    float: right;
    width: (180rem/ 75);
    overflow: hidden;
    a {
        float: left;
        width: 50%;
        text-align: center;
        padding-top: (6rem/ 75);
    }
    img {
        float: none;
        width: (36rem/ 75);
        height: (36rem/ 75);
        margin-bottom: (20rem/ 75);
    }
    p {
        color: #f3f3f3;
    }
}

.main-top-bottom {
    float: left;
    color: #f3f3f3;
}

.main-deal {
    width: (680rem/ 75);
    height: (142rem / 75);
    margin: 0 auto;
    background-color: white;
    border-radius: (5rem/ 75);
    border: 1px solid #909090;
    padding-top: (36rem/ 75);
    box-sizing: border-box;
    padding-left: (40rem/ 75);
    color: #3f3f3f;
    margin-bottom: (24rem/ 75);
    p {
        margin-bottom: (22rem/ 75);
        letter-spacing: 1px;
    }
}

.main-items {
    background-color: white;
    width: (680rem/ 75);
    height: (164rem / 75);
    margin: 0 auto;
    padding-top: (34rem/ 75);
    box-sizing: border-box;
    border-radius: (5rem/ 75);
    border: 1px solid #909090;
    @include clearfix();
    a {
        float: left;
        width: 25%;
        text-align: center;
        color: #3f3f3f;
    }
    img {
        width: (40rem/ 75);
        height: (40rem/ 75);
        margin-bottom: (24rem/ 75);
    }
}

.main-how {
    background-color: white;
    width: (680rem/ 75);
    height: (110rem / 75);
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: (5rem/ 75);
    border: 1px solid #909090;
    padding-left: (40rem/ 75);
    line-height: (110rem/ 75);
    margin-top: (24rem/ 75);
    a {
        display: block;
        width: 100%;
        overflow: hidden;
    }
}

.main-how-left {
    float: left;
    img {
        width: (30rem/ 75);
        height: (40rem/ 75);
    }
    s {
        margin-left: (26rem/ 75);
        color: #3f3f3f;
    }
}

.main-how-right {
    float: right;
    img {
        width: (18rem/ 75);
        height: (32rem/ 75);
        margin-right: (20rem/ 75);
    }
}

main {
    height: 667px;
}
// 底部导航
nav {
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: (98rem/ 75);
    background-color: white;
    box-shadow: 0px (-2rem / 75) rgba($color: #000000, $alpha: 0.1);
    a {
        float: left;
        width: 25%;
        text-align: center;
        color: rgb(63,63,63);
    }
    a:first-child {
        color: rgb(255,105,1);
    }
    img {
        width: (28rem/ 75);
        height: (28rem/ 75);
        margin-top: (18rem/ 75);
    }
    p {
        margin-top: (13rem/ 75);
    }
}