<%- include('./common/userCommon/header'); -%>
<div class="content">
  <div class="article">
    <div class="breadcrumb">
      <dl>
        <dt>当前位置：</dt>
        <dd><a href="javascript:;">奇趣事</a></dd>
        <dd>变废为宝！将手机旧电池变为充电宝的Better RE移动电源</dd>
      </dl>
    </div>
    <h2 class="title">
      <a href="javascript:;">又现酒窝夹笔盖新技能 城里人是不让人活了！</a>
    </h2>
    <div class="meta">
      <span>DUX主题小秘 发布于 2015-06-29</span>
      <span>分类: <a href="javascript:;">奇趣事</a></span>
      <span>阅读: (2421)</span>
      <span>评论: (143)</span>
    </div>
  </div>
  <%- include('./common/userCommon/hots'); -%>
</div>
<div class="footer">
  <p>© 2016 XIU主题演示 本站主题由 themebetter 提供</p>
</div>
</div>

<!-- js -->

</body>

</html>