<%- include('./common/userCommon/header'); -%>

<div class="content">
  <div class="panel new">
    <h3>会生活</h3>
    <div class="entry">
      <div class="head">
        <a href="javascript:;">星球大战：原力觉醒视频演示 电影票68</a>
      </div>
      <div class="main">
        <p class="info">admin 发表于 2015-06-29</p>
        <p class="brief">
          星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯
        </p>
        <p class="extra">
          <span class="reading">阅读(3406)</span>
          <span class="comment">评论(0)</span>
          <a href="javascript:;" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span>赞(167)</span>
          </a>
          <a href="javascript:;" class="tags">
            分类：<span>星球大战</span>
          </a>
        </p>
        <a href="javascript:;" class="thumb">
          <img src="uploads/hots_2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="entry">
      <div class="head">
        <a href="javascript:;">星球大战：原力觉醒视频演示 电影票68</a>
      </div>
      <div class="main">
        <p class="info">admin 发表于 2015-06-29</p>
        <p class="brief">
          星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯
        </p>
        <p class="extra">
          <span class="reading">阅读(3406)</span>
          <span class="comment">评论(0)</span>
          <a href="javascript:;" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span>赞(167)</span>
          </a>
          <a href="javascript:;" class="tags">
            分类：<span>星球大战</span>
          </a>
        </p>
        <a href="javascript:;" class="thumb">
          <img src="uploads/hots_2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="entry">
      <div class="head">
        <a href="javascript:;">星球大战：原力觉醒视频演示 电影票68</a>
      </div>
      <div class="main">
        <p class="info">admin 发表于 2015-06-29</p>
        <p class="brief">
          星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯，星球大战:原力觉醒：《星球大战:原力觉醒》中国首映盛典红毯
        </p>
        <p class="extra">
          <span class="reading">阅读(3406)</span>
          <span class="comment">评论(0)</span>
          <a href="javascript:;" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span>赞(167)</span>
          </a>
          <a href="javascript:;" class="tags">
            分类：<span>星球大战</span>
          </a>
        </p>
        <a href="javascript:;" class="thumb">
          <img src="uploads/hots_2.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2016 XIU主题演示 本站主题由 themebetter 提供</p>
</div>
</div>
<!-- js -->

</body>

</html>