nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}

nav .container:before, nav .container:after {
  content: "";
  display: table;
}

nav .container:after {
  clear: both;
}

nav .container {
  *zoom: 1;
}

.nav-left {
  float: left;
  font-size: 16px;
}

.nav-left img {
  height: 40px;
}

.nav-left a:nth-child(-n+2) {
  margin-right: 40px;
}

.nav-left a:nth-child(2) {
  color: #2cb82c;
}

.nav-left a:nth-child(3) {
  color: #333333;
}

.nav-right {
  float: right;
  font-size: 13px;
}

.nav-right a {
  color: #333333;
  margin-left: 20px;
}

.nav-learn {
  position: absolute;
  right: -44px;
  bottom: -143px;
}

.nav-learn:before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 25px;
  top: -25px;
  left: 14px;
  background-color: #2cb82c;
}

.nav-learn a {
  display: block;
  width: 30px;
  height: 118px;
  background-color: #2cb82c;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  line-height: 30px;
  color: white;
  font-size: 13px;
  letter-spacing: 8px;
  text-align: center;
}

.carousel {
  margin-top: 15px;
}

.carousel .container:before, .carousel .container:after {
  content: "";
  display: table;
}

.carousel .container:after {
  clear: both;
}

.carousel .container {
  *zoom: 1;
}

.carousel-left {
  float: left;
  position: relative;
}

.carousel-left ul:nth-child(2) {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.carousel-left ul:nth-child(2):before, .carousel-left ul:nth-child(2):after {
  content: "";
  display: table;
}

.carousel-left ul:nth-child(2):after {
  clear: both;
}

.carousel-left ul:nth-child(2) {
  *zoom: 1;
}

.carousel-left ul:nth-child(2) li {
  float: left;
}

.carousel-left ul:nth-child(2) a {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
}

.carousel-left ul:nth-child(2) a:hover {
  background-color: #2cb82c;
}

.carousel-left-button li {
  position: relative;
}

.carousel-left-button li:nth-child(-n+2) {
  margin-right: 10px;
}

.carousel-left-button a:before {
  content: "";
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2cb82c;
  top: -8px;
}

.carousel-left-button li:nth-child(2) a:before {
  display: block;
}

.carousel-left-button li:nth-child(2) a {
  background-color: #2cb82c;
}

.carousel-left-button a:hover:before {
  display: block;
}

.carousel-right {
  background-color: white;
  float: right;
  width: 252px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eeeeee;
  border-top: 2px solid #2cb82c;
  padding-left: 15px;
  height: 386px;
  padding-top: 25px;
}

.carousel-right h3 {
  font-size: 16px;
}

.carousel-right h3 img {
  margin-right: 10px;
}

.carousel-right li {
  margin-top: 26px;
}

.carousel-right li a {
  color: #333333;
}

.carousel-right li:nth-child(1) a,
.carousel-right li:nth-child(4) a {
  color: #ff4012;
}

.carousel-right li img {
  margin-right: 5px;
}

.hot {
  margin-top: 15px;
}

.hot .container:before, .hot .container:after {
  content: "";
  display: table;
}

.hot .container:after {
  clear: both;
}

.hot .container {
  *zoom: 1;
}

.hot-left {
  float: left;
  -webkit-box-shadow: 0px 0px 4px #cccccc;
          box-shadow: 0px 0px 4px #cccccc;
}

.hot-right {
  float: right;
}

.hot-right li {
  float: left;
  margin-left: 22px;
  height: 168px;
  -webkit-box-shadow: 0px 0px 4px #cccccc;
          box-shadow: 0px 0px 4px #cccccc;
  background-color: white;
}

.hot-right h3 {
  margin-top: 15px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: normal;
}

.hot-right p {
  margin-top: 10px;
  padding-left: 15px;
  font-size: 13px;
  color: #ff4012;
}

.hot-right p s {
  margin-left: 5px;
  text-decoration: line-through;
  color: #999999;
}

.hot-right p span {
  float: right;
  padding-right: 15px;
  color: #999999;
}

main {
  margin-top: 50px;
}

.main-top h2 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.main-top ul {
  margin-top: 20px;
}

.main-top ul:before, .main-top ul:after {
  content: "";
  display: table;
}

.main-top ul:after {
  clear: both;
}

.main-top ul {
  *zoom: 1;
}

.main-top li {
  float: left;
  margin-right: 25px;
}

.main-top a {
  display: block;
  width: 48px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 26px;
  text-align: center;
  color: #666666;
}

.main-top li:nth-child(1) a {
  border-color: #2cb82c;
  color: #2cb82c;
}

.main-top a:hover {
  border-color: #2cb82c;
  color: #2cb82c;
}

.main-content {
  margin-top: 25px;
}

.main-content:before, .main-content:after {
  content: "";
  display: table;
}

.main-content:after {
  clear: both;
}

.main-content {
  *zoom: 1;
}

.main-content li {
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: 0px 2px 2px #eeeeee;
          box-shadow: 0px 2px 2px #eeeeee;
}

.main-content li:nth-child(4n) {
  margin-right: 0px;
}

.main-content li:nth-child(-n+4) {
  margin-bottom: 20px;
}

.main-content-top a {
  display: block;
  position: relative;
}

.main-content-top img {
  width: 285px;
}

.main-content-top span {
  display: block;
  position: absolute;
  width: 38px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  color: white;
  top: -3px;
  right: 20px;
  background-image: url(../img/label.png);
}

.main-content-bottom {
  border: 1px solid #e4e4e4;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  border-top: none;
  height: 90px;
  background-color: white;
}

.main-content-bottom h3 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: normal;
}

.main-content-bottom p:nth-child(2) {
  margin-top: 10px;
  color: #999999;
  font-size: 12px;
}

.main-content-bottom p:nth-child(2) span {
  font-size: 14px;
  margin: 0 10px;
}

.main-content-bottom p:nth-child(3) {
  margin-top: 10px;
  font-size: 16px;
  color: #ff4012;
}

.main-content-bottom p:nth-child(3) s {
  text-decoration: line-through;
  font-size: 14px;
  color: #999999;
  margin-left: 8px;
}

.main-content-bottom p:nth-child(3) b {
  float: right;
  margin-top: 2px;
  font-weight: normal;
  color: #666666;
  font-size: 14px;
}

.student {
  margin-top: 40px;
  margin-bottom: 40px;
}

.student-title {
  height: 60px;
  font-size: 22px;
  overflow: hidden;
}

.student-title-left {
  float: left;
  line-height: 68px;
}

.student-title-right {
  float: right;
  overflow: hidden;
}

.student-title-right span {
  float: left;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dddddd;
  font-size: 14px;
  text-align: center;
  background-color: white;
  line-height: 30px;
  color: #999999;
}

.student-title-right span:nth-child(1) {
  color: white;
  background-color: #2cb82c;
  border-color: #2cb82c;
  margin-right: 7px;
}

.student-title-right span:nth-child(3) {
  font-weight: 700;
  margin-left: 10px;
  font-size: 20px;
}

.student-title-right span:hover {
  color: white;
  background-color: #2cb82c;
  border-color: #2cb82c;
}

.student-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.student-content li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 20px;
  height: 165px;
}

.student-content li:nth-child(-n+2) {
  margin-right: 20px;
}

.student-content-left {
  float: left;
  width: 80px;
}

.student-content-left img {
  margin-top: 25px;
}

.student-content-left p {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.student-content-right {
  float: left;
  margin-left: 15px;
  width: 230px;
  margin-top: 34px;
}

.student-content-right h4 {
  font-size: 14px;
  color: #2cb82c;
  font-weight: normal;
}

.student-content-right p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 5px;
  color: #666666;
}

.student-content-right span {
  color: #2cb82c;
  line-height: 20px;
  font-weight: 700;
  font-size: 21px;
}

footer {
  background-color: white;
}

.footer-top {
  padding-top: 10px;
  height: 142px;
  border-bottom: 1px solid #eeeeee;
}

.footer-top:before, .footer-top:after {
  content: "";
  display: table;
}

.footer-top:after {
  clear: both;
}

.footer-top {
  *zoom: 1;
}

.footer-top > div {
  float: left;
}

.footer-top h3 {
  line-height: 50px;
  font-size: 16px;
}

.footer-top-class {
  width: 420px;
}

.footer-top-class p {
  line-height: 22px;
  color: #555555;
}

.footer-top-focus {
  width: 90px;
  margin-left: 58px;
}

.footer-top-focus a:first-child {
  margin-right: 20px;
}

.footer-top-links {
  width: 450px;
  margin-left: 115px;
}

.footer-top-links p {
  line-height: 28px;
}

.footer-top-links a {
  margin-right: 27px;
  color: #555555;
}

.footer-bottom {
  text-align: center;
  height: 88px;
  overflow: hidden;
}

.footer-bottom span {
  color: #666666;
  font-size: 16px;
  margin: 0 13px;
}

.footer-bottom p {
  font-size: 12px;
}

.footer-bottom p:nth-child(1) {
  margin-top: 24px;
}

.footer-bottom p:nth-child(2) {
  margin-top: 16px;
}
/*# sourceMappingURL=index.css.map */