<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>学员信息</title>
	<link rel="stylesheet" href="./css/list.css">
</head>

<body>
	<table>
		<caption>学员信息</caption>
		<tr>
			<th>姓名</th>
			<th>年龄</th>
			<th>性别</th>
			<th>邮箱地址</th>
			<th>爱好</th>
			<th>所属学院</th>
			<th>入学时间</th>
		</tr>
	</table>

	<script src="./lib/jquery-3.4.1.min.js"></script>
	<script src="./lib/template-web.js"></script>
	<script type="text/template" id="template_add">
		{{each data}}
		<tr>
			<td>{{$value.name}}</td>
			<td>{{$value.age}}</td>
			<td>
				{{if $value.gender==0}}
				男
				{{else}}
				女
			{{/if}}
			</td>
			<td>{{$value.email}}</td>
			<td>
				{{set len=$value.hobby.length}}
				{{set type=typeof $value.hobby}}
				{{if type==`string`}}
					{{$value.hobby}}
					{{else}}
					{{each $value.hobby}}
						{{if $index==len-1}}
							{{$value}}
						{{else}}
							{{$value}},
						{{/if}}
					{{/each}}
				{{/if}}
			</td>
			<td>{{$value.major}}</td>
			<td>{{$value.date}}</td>
		</tr>
		{{/each}}
	</script>
	<script>
		$.ajax({
			type: "get",
			url: "http://localhost/getDatas",
			data: null,
			success: function (data) {
				console.log(data);  // [{}  {}   {}]
				// 弄一套模块
				let htmlStr = template("template_add", {
					data: data
				})
				// 插入
				$("table").append(htmlStr);
			}
		})
	</script>

</body>

</html>